body {
--kolor-pierwszy:#FFA35D;
--kolor-pierwszy-ciemny: #F0791F;
--kolor-drugi: #FFB882;
--kolor-error: #830000;
--kolor-dobry: #FFD2AF;
--border-size: 10px;
--kolor-tla:#FFD2AF;

margin: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content:  center;
font-size: 18px;


background-color: var(--kolor-tla);
background-size: cover;

}

.container {

width: 400px;
max-width 400px;
margin: 1rem;
padding: 2rem;
box-shadow: 0 0 40px rgba(0,0,0.2);
border-radius: var(--border-size);
background: var(--kolor-pierwszy);

}

.container,
.form__input,
.form__button {
 font: 300 1rem 'Roboto', sans-serif;
}

.form--hidden {
display: none;
}

.form>*:first-child{
margin-top: 0;
}

.form>*:last-child{
margin-bottom: 0;
}

.form__title {
margin-bottom: 2rem;
text-align:center;
text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
}

.form__message {
text-align: center;
margin-bottom: 1rem;

}
.form__message--error {
color: var(--kolor-error);
font-weight: bold;
}

.form__message--success {
color: var(--kolor-dobry);
}

.form__input-group {
margin-bottom:1rem;
}

.form__input {
display: block;
width: 100%;
padding: 0.75rem;
box-sizing: border-box;
border-radius: var(--border-size);
border: 3px solid var(--kolor-drugi);
outline: none;
background: #eeeeee;
transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
border-color:var(--kolor-pierwszy-ciemny);
background: #FFFFFF;
}

.form__input--error {
 color: var(--kolor-error);
 border-color: var(--kolor-error);
}
.form__input-error-message {
margin-top: 0.5rem;

font-size:0.85rem;
color:var(--kolor-error);
}
.form__button {
width: 100%;
padding: 1rem 2rem;
font-weight:bold;
font-size: 1.1rem;
color: #000000;
border: none;
border-radius: var(--border-size);
outline: none;
cursor: pointer;
background: var(--kolor-drugi);
}

.form__button:hover{
background: var(--kolor-pierwszy-ciemny);
}

.form__button:active{
transform:scale(0.98);
}

.form__text {
text-align: center;
}

.form__link {
color:var(--kolor-pierwszy-ciemny);
font-weight: bold;
text-decoration: none;
cursor: pointer;
}

.form__link:hover{
color:var(--kolor-drugi);
text-decoration: underline;
font-weight: bold;
}
